@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.top {
    background-color: #000;
    height: 20px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}*/
  
li {
    display: inline;
}

.topRight {
    text-align: right;
}